
<div class="container">
    <div style="text-align:center">
      <h1>Contact Us</h1>
      <p>If you have any query please feel free to reach us:</p>
    </div>
    <div class="row">
      <div class="column">
        <img src="../../assets/images/contact.jpg" style="width:100%">
      </div>
      <div class="column">
        <form action="/action_page.php" #contactForm="ngForm" (ngSubmit)="onSubmit()">

          <!-- Enter UserName and Validation -->

          <label for="fname">Enter Name:</label>
          <input type="text" id="name" name="name" placeholder="Your name.."  #name="ngModel" ngModel class="form-control" required>

          <div *ngIf="name">
            <div  *ngIf="!name.valid && (name.dirty || name.touched)">
            <div [hidden]="!name.errors?.['required']">Name is required</div>
            </div>
            </div>
          
          <!-- Enter Email and Validation -->

          <label for="email">Email:</label>
          <input type="text" id="email" name="email" placeholder="Your email.."  #number="ngModel" ngModel class="form-control" required>

          <div *ngIf="email">
            <div  *ngIf="!email.valid && (email.dirty || email.touched)">
            <div [hidden]="!email.errors?.['required']">Email is required</div>
            </div>
            </div>

          <!-- Enter Mobile Number and Validation -->

          <label for="number">Mobile No:</label>
          <input type="text" id="number" name="number" placeholder="Your mobile no.."  #number="ngModel" ngModel class="form-control" required> 
          
          <div *ngIf="number">
            <div  *ngIf="!number.valid && (number.dirty || number.touched)">
            <div [hidden]="!number.errors?.['required']">Mobile No is required</div>
            </div>
            </div>

            <!-- Enter Query and Validation -->

          <label for="query">Any Query:</label>
          <textarea id="query" name="query" placeholder="Write something.." style="height:170px"  #query="ngModel" ngModel class="form-control" required></textarea>

          <div *ngIf="query">
            <div  *ngIf="!query.valid && (query.dirty || query.touched)">
            <div [hidden]="!query.errors?.['required']">Query is required</div>
            </div>
            </div>

             <!-- Disable Submit Button -->

           <input type="submit" id="btn" [routerLink]="['/home']" value="Submit"  [disabled]="!contactForm.valid">
    
        </form>
      </div>
    </div>
  </div>
