<div class="about-section">
    <h1>About Us</h1>
    <p>Here are the different products we offer for you.</p>
    <p>Differe products with high quality, excellent brands in affordable price that everyone can purchase.</p>
  </div>
  
  <h2 style="text-align:center">Our Products</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/images/cloths.jpg" alt="cloths" style="width:100%;height: 250px;">
        <div class="container">
          <h2>Cloths</h2>
          <p>Different varieties of cloths for Men, Women and Kids with different brands.</p>
          <p><button class="button">View More</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/images/aboutelc.jpg" alt="electronic" style="width:100%;height: 250px;">
        <div class="container">
          <h2>Electronic Device</h2>
          <p>Electronic devices like Mobile,Laptop,Headphones and many more.</p>
          <p><button class="button">View More</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/images/aboutfur.jpg" alt="furnitures" style="width:100%;height: 250px;">
        <div class="container">
          <h2>Furniture</h2>
          <p>Various designs of furnitures.Cupbord, Tables, SofaSet and many more.</p>
          <p><button class="button">View More</button></p>
        </div>
      </div>
    </div>
  </div>