<div class="card">
    <div class="card-header">{{pageTitle}}</div>
<div class="card-body" id="main">
    
<form  #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

<div class="form-group">
    <p>
    <label for="userName">User Name</label>
    <input type="text" name="userName" id="userName" #userName="ngModel" ngModel class="form-control" required>
    </p>

<p>
    <label for="password">password</label>
    <input type="password" name="password" id="password" #password="ngModel" ngModel class="form-control" required>
    
    </p>

    <a class="btn btn-info" (click)="cancel()">Cancel</a>

    <button id="btn" class="btn btn-success" [disabled]="!loginForm.valid">Log In</button>
</div>
</form>
</div>
</div>